body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: url('/src/assets/generic-backgrorund.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.active {
  font-weight: 400 !important;
}
